/**--- RESETS ---**/
ul, li, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }
img{vertical-align: inherit}

/**--- LAYOUT GENERAL ---**/
body {
  background-color: rgb(238, 238, 238);
  min-height: 100vh;
  display: block;
  font-family: 'Raleway', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #444; }
header {
  height: 50px;
  background: #1c8694;
  background: rgba(28,134,148,1);
  background: rgba(28,134,148,1);
  background: -moz-linear-gradient(left, rgba(28,134,148,1) 0%, rgba(98,176,186,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28,134,148,1)), color-stop(100%, rgba(98,176,186,1)));
  background: -webkit-linear-gradient(left, rgba(28,134,148,1) 0%, rgba(98,176,186,1) 100%);
  background: -o-linear-gradient(left, rgba(28,134,148,1) 0%, rgba(98,176,186,1) 100%);
  background: -ms-linear-gradient(left, rgba(28,134,148,1) 0%, rgba(98,176,186,1) 100%);
  background: linear-gradient(to right, rgba(28,134,148,1) 0%, rgba(98,176,186,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c8694', endColorstr='#62b0ba', GradientType=1 );
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000 }
h1, h2, h3, h4, h5{font-weight: 500}

/**--- COMPONENTES ---**/
.dropdown-menu {
  left: 0;
  min-width: 175px;
  position: absolute;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0px;
  margin: 0px  0px 0px 0px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);}
.dropdown-item:focus, .dropdown-item:hover{background-color: rgba(162, 219, 214, 0.74)}
.dropdown-item:active{background-color: rgba(79, 128, 128, 0.753)}
.dropdown-toggle img{margin-top: -2px;margin-right: 4px;width: 36px}
/*modal*/
.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  overflow-y: auto;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity .15s;
  transition: opacity .15s; }
.modal-content{
  background: #fff;
  border-radius: 0;
  border: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }
.modal-header {
  background: #fff;
  border: 0;
  margin: 0px 0px -14px 0px;
  padding: 5px 15px 5px 15px; }
.modal-header h4 {
  margin-top: 2px;
  margin-left: 2px;
  font-size: 1.2em;
  color: #ffffff; }
.modal-header .close{
  margin-top: -10px;
  margin-right: -15px;
  float: right;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color:#1c8694;
  text-shadow: none;
  opacity: 1;
}
.modal-header .close:hover,.modal-header .close:active{opacity: .5}
.modal-body{ color: #c2c4dd;}
.modal-body .form-control, .login-box .form-control,.collap-modal .form-control{
  background: transparent;
  border-radius: 0;
  border-top:0;
  border-left:0;
  border-right: 0;
  border-bottom: 1px solid #70717c;
  color: #fff;
  box-shadow: none;
}
.modal-body .form-control:hover,.modal-body .form-control:active,
 .login-box .form-control:hover, .login-box .form-control:active,
 .collap-modal .form-control:hover, .collap-modal .form-control:active{border-bottom: 1px solid #eee;transition: .2s}
.modal-body .form-control:focus, .login-box .form-control:focus,.collap-modal .form-control:focus{
  box-shadow: none;
}
.modal-footer{padding: 0; border-top: none}
.modal-footer .btn{
  border-radius: 0;
  height: 40px;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}
.modal-footer .btn+.btn{
  margin-left: -4px;
}
.modal-lg {
  max-width: 1024px;
}
/*Botones*/
.btn{border-radius: 2px;}
.btn:hover{box-shadow: 0 .2rem .35rem .1rem rgba(0, 0, 0, 0.17)}
.btn:active,.btn:focus,.btn:active:focus,.btn:active:hover,
.btn:not([disabled]):not(.disabled).active, .btn:not([disabled]):not(.disabled):active, .show > .btn.dropdown-toggle {
  box-shadow: 0 0 .2rem .1rem rgba(108, 109, 109, 0.57)
}
.btn-link{color: #1c8694;cursor: pointer}
.btn-link:hover,.btn-link:active,.btn-link:focus{color: #60a7aa; box-shadow: none !important; text-decoration: underline }
.btn-primary{
  background-color: #1c8694;
  border-color: #1c8694;
}
.btn-primary:hover{
  background-color: #64c0c7;
  border-color: #60a7aa;
  color:#fff;
  box-shadow: 0 .2rem .35rem .1rem rgba(0, 0, 0, 0.17)
}
.btn-primary:active,.btn-primary:focus,.btn-primary:active:focus,.btn-primary:active:hover,
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #60a7aa;
  border-color: #1c8694;
  box-shadow: 0 0 .2rem .1rem rgba(108, 109, 109, 0.57)
}
.btn-dwn,.btn-story,.btn-acuse{padding-right: 36px}
.btn-dwn:after{
  content: '\e2c4';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  top: 3px;
  margin-left: 6px;
}
.btn-acuse:after{
  content: '\e877';
  font-size: 22px;
  position: absolute;
  font-family: 'Material Icons';
  top: 3px;
  margin-left: 6px;
}
.btn-story:after{
  content: '\e2c4';
  font-size: 22px;
  position: relative;
  font-family: 'Material Icons';
  top: -3px;
  float: right;
  margin-left: 6px;
}
.btn-adjunto{padding-left: 24px}
.btn-adjunto:before{
  content: '\e2bc';
  font-size: 22px;
  position: absolute;
  font-family: 'Material Icons';
  margin-top: -6px;
  margin-left: -26px;
}
/*card (collapsable container)*/
.panel-md-box{
  border-radius: 2px;
  margin-left: -15px;margin-right: -15px;margin-bottom: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)}
.card {background: #FFF none repeat scroll 0% 0%; margin-bottom: 0;border-radius:0; border-bottom: 1px solid rgba(0, 0, 0, 0.1);border-top: 0}
.card:last-child{border-bottom: 1px solid transparent}
.card-header:first-child,.card-header{
  border-radius:0;border-bottom: 0;padding: 0;background-color: rgba(199, 215, 203, 0.1);}
.card-header > h5 > a{padding: .75rem 1.25rem;display: block;color:#1c8694}
.card-header > h5 > a:hover,.card-header > h5 > a:active{text-decoration: none;color:#1c8694;background: rgba(149, 196, 199, 0.185)}
.card-header > h5 > a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}
.card-header > h5 > a[aria-expanded="true"]:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
.card .c-first,.card .c-first > .card-header,.card .c-first >.card-header > h5 > a{border-radius: 2px 2px 0 0;}
.card .c-last,.card .c-last > .card-header,.card .c-last >.card-header > h5 > a{border-radius: 0 0 2px 2px;}

/*mensaje card*/
.card-msje > .card-header > h5{font-size: .95rem;line-height: 1rem}
.card-msje > .card-header > h5 > a{padding: .5rem 1.25rem;}
.card-msje > .card-header > h5 > a > span{color: #555;font-size: .8rem;}
.card-msje .card-body{font-size: .8rem;padding-top:.4rem}

/*cardbody gris & infogroup white*/
.grey-w{background: #f5f5f5}
.grey-w .info-group{background: #fff;border: 2px solid #f5f5f5;border-radius: 3px}

/**--- ESTRUCTURA PERSONALIZADA ---**/
.first-section{visibility: hidden;margin-top: 50px;margin-bottom: 0px;background: #fff; padding-top: 10px;padding-bottom: 10px;font-size: .8rem; color: #666}
.visible{
  visibility:visible;
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
   -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
       animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.acuse{
  width: 100%;
  /*margin-top: 50px;*/
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 1); 
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .8rem; color: #666;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);}

.sender i.material-icons{font-size: .9rem}
/*.sender{line-height: 2.4rem}*/
.full-to-border{padding-left: 0;padding-right: 0;padding-bottom: 10px}
/*player HTML5*/
.player-z{
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);}
/*storyboard*/
.item-thumbs{
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
}
.th-story{cursor: pointer}
.story-desk{display: block;padding-left: 5.5%}

.img-center{margin-left: auto;margin-right: auto}
/*Informacion metadata - qc*/
.info-metadata hr{border-color: transparent;
  overflow: hidden;}
.info-group{
  font-size: .9rem;
  line-height: .8rem;
  padding: 8px;
}
.info-group label{font-weight: 500;/*width: 45%;padding-right: 10px*/display: block;color: #000;}
.info-group span{color: #777;vertical-align: top;}
.info-group span i{float: right; font-size: 18px;}
footer{
  background: #c0c0c0;
  font-size: .75rem;
  color: #fff;
  width: 100%;
  margin-top: 50px;
}
.contact-txt{padding-top: 5px;padding-bottom: 5px}

/*resumen player*/
.resumen-player img{width: 40px}
.resumen-player{font-size: .8rem;
  margin-top: -10px;
  padding-top: 6px}
.pd-rgt{padding-right:5px;}
.title-resumen{margin-top: -7px;}
.title-resumen h5{
  font-size: .8rem;
  padding-left: 5px;
  padding-right: 5px;
  color: #000;
  overflow-wrap: break-word;
}


/*media queries*/
@media (max-width:768px) {
  .item-thumbs img{width: 100px}
}
@media (max-width:736px) {
  /*.story-desk{display: none}
  .story-mobile{display: block;}*/
  .info-metadata > .container, .settings-metadata> .container{padding-left: 0;padding-right: 0}
  .down-spot{margin-top: 11px}
  .story-desk{display: block;padding-left: 8%}
  .item-thumbs img{width: 100px}
  footer .sender{display: none}
}
@media (max-width:520px){
  .resumen-player img{width: 30px}
  .resumen-player{font-size: .7rem}
}
@media (max-width:430px) {
  .first-section{margin-top:-50px;}
  .first-section.visible{margin-top:50px;}
  .acuse{
    bottom: 0;
    background: rgba(224, 224, 224, 0.90); 
  }
}
@media (max-width:415px) {
  /*.first-section{padding-top: 0}*/
  .sender{font-size: .7rem}
  .info-group{
    font-size: .72rem;
    line-height: .6rem;
  }
  .story-desk{display: block;padding-left: 6%}
  .resumen-player img{width: 25px}
  .resumen-player{font-size: .6rem;background: white;}
}
@media (max-width:375px) {
  .story-desk{display: block;padding-left:0}
}
@media (max-width:320px) {
  .item-thumbs img{width: 80px}
}